body {
    background-image: url("/images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P";
    color: #ff0490;
}

.login_container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2); /* semi-transparent white */
    backdrop-filter: blur(10px);           /* applies the blur */
    -webkit-backdrop-filter: blur(10px);   /* Safari support */
    
    border: 2px solid rgba(255, 255, 255, 0.3); /* subtle frosted border */
    border-radius: 10px;
   
}

.item1 {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
 

}

h1 {
    font-size: 2.6rem;
    margin: 0 0 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  width: 100%;
  align-items: center;
}

form input[type="text"],
form input[type="password"] {
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 0.8rem;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s ease;
  color: palevioletred;
  font-weight: lighter;
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  border-color: #0077ff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 119, 255, 0.5);
}


form button {
  width: 100%;  
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ff0490;
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  margin-top: 10px;

}

form button:hover {
  background: white;
  color: #ff0490;
  transition: 0.5s;
}

a:hover {
    color: #ff0490;
    font-weight: bold;
}